#pip install -r requirements.txt

torch
numpy
pandas
scikit-learn
onnx
ezkl
skl2onnx
onnxruntime
scikit-learn-intelex
joblib
uvicorn
fastapi
pydantic
python-multipart
web3
requests
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
attrs==25.4.0
bitarray==3.8.0
certifi==2025.11.12
charset-normalizer==3.4.4
ckzg==2.1.5
pandas==2.3.3
parsimonious==0.10.0
scipy==1.16.3
numpy
torch
networkx
sympy
pywin32
joblib
coloredlogs
typing-extensions
six
threadpoolctl
click
pipreqs
